.page-container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  .goback{
    img{
      margin-top: 20px;
    }
  }
  .page-image{
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
  }
  h1{
    position: relative;
    .h1-underline{
      position: absolute;
      width: 150px;
      height: 20px;
      background: var(--light-pink);
      bottom:-5px;
      left:0;
      z-index: -1;
    }
    .h1-light{
      font-weight: 300;
    }
  }
  p{
    line-height: 25px;
  }
}
