nav{
  height: 55px;
  padding: 10px 0;
  display: flex;
  z-index: 1000;
  div{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    .logo{
      margin: auto auto auto 80px;
      img{
        width: 60px;
      }
    }
    a{
      color: var(--grey);
      margin-left: 30px;
      text-decoration: none;
      &:last-child{
        margin-right: 80px;
      }
    }
  }
}

@media screen and (max-width: 900px){
  nav{
    div{
      .logo{
        margin: auto auto auto 10px;
      }
      a{
        &:last-child{
          margin-right: 10px;
        }
      }
    }
  }

  .col{
    display: none;
  }
}

@media screen and (max-width: 650px){
  nav{
    width: 100%;
    height: 100vh;
    background:var(--light-pink);
    position: fixed;
    top:0;
    left:0;
    padding: 0;
    transform: translateX(-100%);
    transition: 0.4s;
    div{
      flex-direction: column;
      .logo{
        margin: 10px auto;
        mix-blend-mode: difference;
      }
      a{
        margin: 10px auto;
        &:last-child{
          margin: 10px auto;
        }
      }
    }
  }

  .nav-open{
    transform: translateX(0)
  }

  .col {
    display: block;
    z-index: 1001;
    width: 30px;
    text-align: center;
    height: auto;
    position: fixed;
    top: 10px;
    right:25px;
    outline: none;
    cursor: pointer;
    .con {
      width: auto;
      margin: 0 auto;
      transition: .4s ease;
      .bar {
        display: block;
        height: 5px;
        width: 30px;
        background: var(--dark-pink);
        margin: 5px auto;
        transition: 0.4s;
      }
    }
  }
  
  .col-open {
    .con{
      .arrow-top-r{
        transform: rotateZ(-45deg) translateY(8.5px);
        width: 15px;
      }
      .arrow-middle-r{
        transform: translateX(16px);
        width: 30px;
      }
      .arrow-bottom-r{
        transform: rotateZ(45deg) translateY(-8.5px);
        width: 15px;
      }
    }
  }
}

